.remote-sync*
.DS_Store
.scannerwork
.sonarlint
.phpunit*
.serenata
composer.lock
bin/nabu-export.sh
bin/nabu-import.sh
bin/nabu-schema2class.sh
bin/nabu-table2class.sh
bin/nabu-3.conf
phpunit
lib
pub
sdk
tmp
etc
var
test.sh
